body,
html {
  margin: 0px;
  background-color: #a0bfb1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(14, 8rem);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar"
    "top top top top top top top top top top"
    "top top top top top top top top top top"
    "about about about about about about about about about about"
    "about about about about about about about about about about"
    "about about about about about about about about about about"
    "vision vision vision vision vision vision vision vision vision vision"
    "vision vision vision vision vision vision vision vision vision vision"
    "vision vision vision vision vision vision vision vision vision vision"
    "contact contact contact contact contact contact contact contact contact contact"
    "contact contact contact contact contact contact contact contact contact contact"
    "contact contact contact contact contact contact contact contact contact contact"
    ". . . . . . . . . .";
}

#menuicon {
  grid-area: topbar;
  align-self: center;
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  visibility: hidden;
}

#hamburger-menu {
  grid-area: topbar;
  align-self: center;
  width: 210px;
  height: 35px;
  display: none;
}

#menu-list {
  background-color: #506d56;
  margin-top: 81px;
  margin-left: -32px;
  height: 278px;
}

#home-menu {
  background-color: white;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#home-menu:hover {
  background-color: #394e3e;
}

#about-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#about-menu:hover {
  background-color: #394e3e;
}

#community-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 52.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#community-menu:hover {
  background-color: #394e3e;
}

#store-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 74px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#store-menu:hover {
  background-color: #394e3e;
}

#myGames-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 54px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#myGames-menu:hover {
  background-color: #394e3e;
}

#close-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#close-menu:hover {
  background-color: #394e3e;
}

#logo {
  grid-area: topbar;
  height: 70%;
  align-self: center;
  margin-left: 1rem;
}

#logoText {
  grid-area: topbar;
  place-self: left center;
  margin-top: 3.5rem;
  margin-left: 7.5rem;
  font-weight: 500;
}

#topbar {
  background-color: #506d56;
  grid-area: topbar;
}

#home {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#about {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  color: white;
}

#community {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#store {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#myGames {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#line1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}

#line2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}
#line3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}
#line4 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}

#line5 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}
#line6 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}

#profile {
  grid-column-start: 10;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 30%;
  place-self: center;
  display: none;
}

#logInButtonTop {
  grid-column-start: 10;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 30%;
  width: 80%;
  place-self: center;
}

#loginBox {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 7;
  background-color: white;
  display: none;
}

#username {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 4;
  height: 30%;
  width: 50%;
  place-self: start center;
  display: none;
}

#usernameHeader {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 18pt;
  font-weight: 600;
  place-self: end center;
  display: none;
}

#password {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 5;
  height: 30%;
  width: 50%;
  place-self: start center;
  display: none;
}
#passwordHeader {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 4;
  font-size: 18pt;
  font-weight: 600;
  place-self: end center;
  text-align: center;
  display: none;
}

#logInButtonTop {
  grid-area: topbar;
  height: 30%;
  width: 8rem;
  place-self: center end;
  margin-right: 2rem;
}

#close {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 30%;
  place-self: start end;
  margin-top: 20px;
  margin-right: 20px;
  display: none;
}

#topSection {
  grid-area: top;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(white, #a0bfb1);
  box-shadow: 1px 1px black;
}

#aboutSection {
  grid-area: about;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#a0bfb1, #7b8b85);
  box-shadow: 1px 1px black;
}

#visionSection {
  grid-area: vision;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#7b8b85, #a0bfb1);
  box-shadow: 1px 1px black;
}

#contactSection {
  grid-area: contact;
  overflow: hidden;
  object-fit: cover;
  max-height: 24rem;
  min-height: 24rem;
  height: auto;
  width: 100%;
  box-shadow: 1px 1px black;
}

#topText {
  font-size: 150%;
  grid-area: top;
  place-self: center center;
  text-align: center;
}

#abouttext {
  margin-top: 6rem;
  grid-area: about;
  place-self: start center;
  text-align: center;
  width: 50%;
}

#visiontext {
  margin-top: 6rem;
  grid-area: vision;
  place-self: start center;
  text-align: center;
  width: 50%;
}

#contact {
  margin-top: 6rem;
  grid-area: contact;
  place-self: start center;
  text-align: center;
  width: 50%;
  color: white;
}

#b {
  padding: 10px;
  border-radius: 30px;
  border: none;
  width: 60%;
  font-size: 100%;
  background-color: #a1fcb3;
}

#b:hover {
  background-color: #113318;
  color: white;
}

/* Content changes when width is 1100px  or less */
@media screen and (max-width: 1100px) {
  #home {
    visibility: hidden;
  }

  #about {
    visibility: hidden;
  }

  #community {
    visibility: hidden;
  }

  #store {
    visibility: hidden;
  }

  #myGames {
    visibility: hidden;
  }

  #line1 {
    visibility: hidden;
  }

  #line2 {
    visibility: hidden;
  }
  #line3 {
    visibility: hidden;
  }
  #line4 {
    visibility: hidden;
  }

  #line5 {
    visibility: hidden;
  }
  #line6 {
    visibility: hidden;
  }
  #logo {
    grid-area: topbar;
    height: 70%;
    align-self: center;
    margin-left: 5rem;
  }
  #logoText {
    margin-left: 11.5rem;
  }

  #menuicon {
    visibility: visible;
  }

  #abouttext {
    margin-top: 4rem;
    width: 60%;
  }

  #visiontext {
    margin-top: 4rem;
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  #abouttext {
    width: 80%;
    margin-top: 2rem;
  }

  #visiontext {
    margin-top: 2rem;
    width: 80%;
  }
}
