body,
html {
  margin: 0px;
  background-color: #052a19;
}

@media screen and (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(28, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar"
      "top top top top top top top top top top"
      "top top top top top top top top top top"
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      "most most most most most most most most most most"
      "most most most most most most most most most most"
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      "new new new new new new new new new new"
      "new new new new new new new new new new"
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      "footer footer footer footer footer footer footer footer footer footer"
      "footer footer footer footer footer footer footer footer footer footer";
  }
}

@media screen and (max-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(45, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar"
      "top top top top top top top top top top"
      "top top top top top top top top top top"
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      "most most most most most most most most most most"
      "most most most most most most most most most most"
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      "new new new new new new new new new new"
      "new new new new new new new new new new"
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      "footer footer footer footer footer footer footer footer footer footer"
      "footer footer footer footer footer footer footer footer footer footer";
  }
}

@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(47, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar"
      "top top top top top top top top top top"
      "top top top top top top top top top top"
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      ". developers developers developers developers developers developers developers developers ."
      "most most most most most most most most most most"
      "most most most most most most most most most most"
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      ". podium podium podium podium podium podium podium podium ."
      "new new new new new new new new new new"
      "new new new new new new new new new new"
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      ". games games games games games games games games ."
      "footer footer footer footer footer footer footer footer footer footer"
      "footer footer footer footer footer footer footer footer footer footer";
  }
}

#menuicon {
  grid-area: topbar;
  align-self: center;
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  visibility: hidden;
}

#hamburger-menu {
  grid-area: topbar;
  align-self: center;
  width: 210px;
  height: 35px;
  display: none;
}

#menu-list {
  background-color: #506d56;
  margin-top: 81px;
  margin-left: -32px;
  height: 278px;
}

#home-menu {
  background-color: white;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#home-menu:hover {
  background-color: #394e3e;
}

#about-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#about-menu:hover {
  background-color: #394e3e;
}

#community-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 52.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#community-menu:hover {
  background-color: #394e3e;
}

#store-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 74px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#store-menu:hover {
  background-color: #394e3e;
}

#myGames-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 54px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#myGames-menu:hover {
  background-color: #394e3e;
}

#close-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#close-menu:hover {
  background-color: #394e3e;
}

#logo {
  grid-area: topbar;
  height: 70%;
  align-self: center;
  margin-left: 1rem;
}

#logoText {
  grid-area: topbar;
  place-self: left center;
  margin-top: 3.5rem;
  margin-left: 7.5rem;
  font-weight: 500;
}

#topbar {
  background-color: #506d56;
  grid-area: topbar;
}
#home {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#about {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#community {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  color: white;
}

#store {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#myGames {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#line1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}

#line2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}
#line3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}
#line4 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}

#line5 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}
#line6 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}

#profile {
  grid-area: topbar;
  height: 30%;
  margin-right: 2rem;
  place-self: center end;
  display: none;
}

#logInButtonTop {
  grid-area: topbar;
  height: 40%;
  place-self: center end;
  margin-right: 2rem;
  cursor: pointer;
}

#loginBox {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 7;
  background-color: white;
  display: none;
}

#username {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 4;
  height: 30%;
  width: 50%;
  place-self: start center;
  display: none;
}

#usernameHeader {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 18pt;
  font-weight: 600;
  place-self: end center;
  display: none;
}

#password {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 5;
  height: 30%;
  width: 50%;
  place-self: start center;
  display: none;
}
#passwordHeader {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 4;
  font-size: 18pt;
  font-weight: 600;
  place-self: end center;
  text-align: center;
  display: none;
}

#logInButton {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 6;
  height: 30%;
  width: 50%;
  place-self: start center;
  display: none;
  cursor: pointer;
}

#close {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 30%;
  place-self: start end;
  margin-top: 20px;
  margin-right: 20px;
  display: none;
}

#topSection {
  grid-area: top;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  box-shadow: 2px 2px 4px #020e08;
}

#topSectionHeader {
  grid-area: top;
  place-self: center center;
  text-align: center;
  font-size: 150%;
}

#developer1Text {
  grid-area: developers;
  place-self: start center;
  width: 42rem;
  color: white;
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6rem;
}

#alienLogo {
  grid-area: developers;
  place-self: start center;
  margin-top: 9rem;
  margin-inline-start: 55rem;
  height: 120px;
}

#line1placement {
  grid-area: developers;
  place-self: start center;
  margin-top: 8.5rem;
  margin-inline-end: 51rem;
  height: 120px;
  width: 2px;
  background-color: #5bb089;
}

#number1 {
  grid-area: developers;
  place-self: start center;
  font-size: 28pt;
  color: white;
  margin-top: 11rem;
  margin-inline-end: 60rem;
}

#developer2Text {
  grid-area: developers;
  place-self: start center;
  width: 42rem;
  color: white;
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 21rem;
}

#cadabraLogo {
  grid-area: developers;
  place-self: start center;
  margin-top: 2.5rem;
  margin-inline-start: 55rem;
  height: 120px;
  margin-top: 24rem;
}

#line2placement {
  grid-area: developers;
  place-self: start center;
  margin-top: 2.5rem;
  margin-inline-end: 51rem;
  height: 120px;
  width: 2px;
  background-color: #5bb089;
  margin-top: 23.5rem;
}

#number2 {
  grid-area: developers;
  place-self: start center;
  font-size: 28pt;
  color: white;
  margin-top: 5rem;
  margin-inline-end: 60rem;
  margin-top: 26rem;
}

#developer3Text {
  grid-area: developers;
  place-self: start center;
  width: 42rem;
  color: white;
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 36rem;
}

#bixelLogo {
  grid-area: developers;
  place-self: start center;
  margin-top: 2.5rem;
  margin-inline-start: 55rem;
  height: 120px;
  margin-top: 39rem;
}

#line3placement {
  grid-area: developers;
  place-self: start center;
  margin-top: 2.5rem;
  margin-inline-end: 51rem;
  height: 120px;
  width: 2px;
  background-color: #5bb089;
  margin-top: 38.5rem;
}

#number3 {
  grid-area: developers;
  place-self: start center;
  font-size: 28pt;
  color: white;
  margin-top: 5rem;
  margin-inline-end: 60rem;
  margin-top: 41rem;
}

#mostSection {
  grid-area: most;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  box-shadow: 2px 2px 4px #020e08;
}

#mostSectionHeader {
  grid-area: most;
  place-self: center center;
  text-align: center;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

#podium {
  grid-area: podium;
  scale: 120%;
  place-self: end center;
  margin-bottom: 12rem;
}

#game1 {
  grid-area: podium;
  place-self: end center;
  margin-bottom: 21.5rem;
  height: 260px;
  z-index: 1;
}

#game2 {
  grid-area: podium;
  place-self: end center;
  margin-bottom: 18.5rem;
  margin-inline-end: 26rem;
  height: 180px;
  z-index: 1;
}

#game3 {
  grid-area: podium;
  place-self: end center;
  margin-bottom: 17.8rem;
  margin-inline-start: 26rem;
  height: 160px;
  z-index: 1;
}

#newSection {
  grid-area: new;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  box-shadow: 2px 2px 4px #020e08;
}

#newGamesHeader {
  grid-area: new;
  place-self: center center;
  text-align: center;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

#newGame1Header {
  grid-area: games;
  place-self: center center;
  margin-inline-end: 30rem;
  margin-bottom: 28rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#newGame1 {
  grid-area: games;
  place-self: center center;
  margin-inline-end: 30rem;
  height: 300px;
  width: 200px;
}
#newGame2Header {
  grid-area: games;
  place-self: center center;
  margin-bottom: 28rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#newGame2 {
  grid-area: games;
  place-self: center center;
  height: 300px;
  width: 200px;
}
#newGame3Header {
  grid-area: games;
  place-self: center center;
  margin-inline-start: 30rem;
  margin-bottom: 28rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#newGame3 {
  grid-area: games;
  place-self: center center;
  margin-inline-start: 30rem;
  height: 300px;
  width: 200px;
}

#footerSection {
  grid-area: footer;
  background-color: #506d56;
}

#logoFooter {
  grid-area: footer;
  height: 80px;
  margin-top: 3rem;
  margin-left: 1rem;
}

#copyright {
  grid-area: footer;
  place-self: end start;
  height: 80px;
  margin-left: 1rem;
  font-size: 16pt;
}

#contactFooter {
  grid-area: footer;
  place-self: end end;
  height: 80px;
  margin-right: 1rem;
  font-size: 16pt;
}

/* content changes when width is 1100px or less */
@media screen and (max-width: 1100px) {
  #home {
    visibility: hidden;
  }

  #about {
    visibility: hidden;
  }

  #community {
    visibility: hidden;
  }

  #store {
    visibility: hidden;
  }

  #myGames {
    visibility: hidden;
  }

  #line1 {
    visibility: hidden;
  }

  #line2 {
    visibility: hidden;
  }
  #line3 {
    visibility: hidden;
  }
  #line4 {
    visibility: hidden;
  }

  #line5 {
    visibility: hidden;
  }
  #line6 {
    visibility: hidden;
  }
  #logo {
    grid-area: topbar;
    height: 70%;
    align-self: center;
    margin-left: 5rem;
  }
  #logoText {
    margin-left: 11.5rem;
  }

  #menuicon {
    visibility: visible;
  }

  #topheader {
    grid-area: top;
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    box-shadow: 2px 2px 4px #020e08;
  }
}

@media screen and (max-width: 1200px) {
  #developer1Text {
    width: 80%;
    text-align: center;
    font-size: 120%;
    margin-top: 18rem;
  }

  #alienLogo {
    margin-top: 9.5rem;
    margin-inline-start: 12rem;
    height: 100px;
  }

  #line1placement {
    margin-top: 9rem;
    margin-inline-end: 0rem;
  }

  #number1 {
    font-size: 60pt;
    margin-top: 10rem;
    margin-inline-end: 12rem;
  }

  #developer2Text {
    width: 80%;
    text-align: center;
    font-size: 120%;
    margin-top: 49rem;
  }

  #cadabraLogo {
    margin-top: 40.5rem;
    margin-inline-start: 12rem;
    height: 100px;
  }

  #line2placement {
    margin-top: 40rem;
    margin-inline-end: 0rem;
  }

  #number2 {
    font-size: 60pt;
    margin-top: 41rem;
    margin-inline-end: 12rem;
  }

  #developer3Text {
    width: 80%;
    text-align: center;
    font-size: 120%;
    margin-top: 80rem;
  }

  #bixelLogo {
    margin-top: 71.5rem;
    margin-inline-start: 12rem;
    height: 100px;
  }

  #line3placement {
    margin-top: 71rem;
    margin-inline-end: 0rem;
  }

  #number3 {
    font-size: 60pt;
    margin-top: 72rem;
    margin-inline-end: 12rem;
  }

  #podium {
    display: none;
  }

  #game1 {
    place-self: start center;
    margin-top: 6rem;
    height: 300px;
    width: 200px;
  }

  #game2 {
    place-self: start center;
    margin-top: 30rem;
    margin-inline-end: 0rem;
    height: 300px;
    width: 200px;
  }

  #game3 {
    place-self: start center;
    margin-bottom: 0rem;
    margin-inline-start: 0rem;
    height: 300px;
    width: 200px;
    margin-top: 54rem;
  }

  #newGame1Header {
    display: none;
  }

  #newGame1 {
    place-self: start center;
    margin-top: 6rem;
    margin-inline-end: 0rem;
    height: 300px;
    width: 200px;
  }
  #newGame2Header {
    display: none;
  }
  #newGame2 {
    place-self: start center;
    margin-top: 30rem;
    margin-inline-end: 0rem;
    height: 300px;
    width: 200px;
  }
  #newGame3Header {
    display: none;
  }
  #newGame3 {
    place-self: start center;
    margin-bottom: 0rem;
    margin-inline-start: 0rem;
    height: 300px;
    width: 200px;
    margin-top: 54rem;
  }

  #contactFooter {
    font-size: 12pt;
  }
  #copyright {
    font-size: 12pt;
  }
}

@media screen and (max-width: 600px) {
  #copyright {
    font-size: 10pt;
  }

  #contactFooter {
    font-size: 10pt;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    place-self: end start;
  }

  #logoText {
    display: none;
  }

  #developer2Text {
    width: 80%;
    text-align: center;
    font-size: 120%;
    margin-top: 56rem;
  }

  #cadabraLogo {
    margin-top: 47.5rem;
    margin-inline-start: 12rem;
    height: 100px;
  }

  #line2placement {
    margin-top: 47rem;
    margin-inline-end: 0rem;
  }

  #number2 {
    font-size: 60pt;
    margin-top: 48rem;
    margin-inline-end: 12rem;
  }

  #developer3Text {
    width: 80%;
    text-align: center;
    font-size: 120%;
    margin-top: 94rem;
  }

  #bixelLogo {
    margin-top: 85.5rem;
    margin-inline-start: 12rem;
    height: 100px;
  }

  #line3placement {
    margin-top: 85rem;
    margin-inline-end: 0rem;
  }

  #number3 {
    font-size: 60pt;
    margin-top: 86rem;
    margin-inline-end: 12rem;
  }
}
