body,
html {
  margin: 0px;
  background-image: linear-gradient(#052a19, #506d56);
}

/* FontFace Arial Rounded */
@font-face {
  font-family: arialRounded;
  src: url(arlrdbd.ttf);
}

/* grid area when width is 1000px or more */
@media screen and (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "back back . . . . . . . ."
      "back back . . . . header header header ."
      ". gameCover gameCover gameCover gameCover . rating rating rating ."
      ". gameCover gameCover gameCover gameCover . text1 text1 text1 ."
      ". gameCover gameCover gameCover gameCover . text2 text2 text2 ."
      ". gameCover gameCover gameCover gameCover . rectangle rectangle rectangle ."
      ". gameCover gameCover gameCover gameCover . button button button ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . .";
  }
}

/* grid area when width is 1000px or less */
@media screen and (max-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(13, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "back back . . . . . . . ."
      "back back header header header header header header . ."
      "rating rating rating rating rating rating rating rating rating rating"
      "gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover"
      "gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover"
      "gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover"
      "gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover"
      "gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover"
      "text1 text1 text1 text1 text1 text1 text1 text1 text1 text1"
      "text2 text2 text2 text2 text2 text2 text2 text2 text2 text2"
      "rectangle rectangle rectangle rectangle rectangle rectangle rectangle rectangle rectangle rectangle"
      "button button button button button button button button button button"
      ". . . . . . . . . ."
      ". . . . . . . . . .";
  }
}

/* grid area when width is 600px or less */
@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(13, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "back back back back . . . . . ."
      ". header header header header header header header header ."
      "rating rating rating rating rating rating rating rating rating rating"
      "gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover"
      "gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover"
      "gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover"
      "gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover"
      "gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover gameCover"
      "text1 text1 text1 text1 text1 text1 text1 text1 text1 text1"
      "text2 text2 text2 text2 text2 text2 text2 text2 text2 text2"
      "rectangle rectangle rectangle rectangle rectangle rectangle rectangle rectangle rectangle rectangle"
      "button button button button button button button button button button"
      ". . . . . . . . . .";
  }
}

#arrowLeft {
  grid-area: back;
  height: 50%;
  place-self: center center;
}

#arrowLeft:hover {
  filter: drop-shadow(3px 3px 4px #000000);
}

#arrowLeftimg {
  height: 50%;
}

#gameCover {
  grid-area: gameCover;
  place-self: center center;
  height: 100%;
  width: 450px;
  box-shadow: 1px 1px 4px #031b10;
}

#header {
  grid-area: header;
  place-self: end center;
  color: white;
  font-size: 28pt;
  font-family: arialRounded;
  font-weight: lighter;
}

#rating {
  grid-area: rating;
  height: 20%;
  place-self: start center;
}

#header2 {
  color: rgb(78, 78, 78);
  font-family: arialRounded;
  font-weight: lighter;
  grid-area: rating;
  place-self: center center;
  margin-bottom: 2rem;
}

#genre {
  color: rgb(78, 78, 78);
  font-family: arialRounded;
  font-weight: lighter;
  grid-area: rating;
  place-self: center center;
  margin-bottom: -2rem;
}

#text1 {
  color: rgb(255, 255, 255);
  font-family: arialRounded;
  font-weight: lighter;
  grid-area: text1;
  place-self: start center;
  width: 90%;
}

#text2 {
  color: rgb(255, 255, 255);
  font-family: arialRounded;
  font-weight: lighter;
  grid-area: text2;
  place-self: start center;
  width: 90%;
}

#buynowLink {
  grid-area: button;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 4px #031b10;
  width: 250px;
  height: 60px;
  place-self: center center;
}
#buynow {
  font-size: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 4px #031b10;
  width: 250px;
  height: 60px;
  background-color: #8bd3b3;
  font-family: arialRounded;
}

#buynow:hover {
  background-color: #219e66;
  color: white;
  cursor: pointer;
}

#logInBuy {
  font-size: 30px;
  grid-area: button;
  place-self: center center;
  color: rgb(255, 255, 255);
  display: none;
  font-family: arialRounded;
}

#rectangle {
  width: 400px;
  height: 20px;
  background-color: #052a19;
  grid-area: rectangle;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: arialRounded;
  color: white;
  place-self: end center;
}

/* content changes when width is 1000px or less */
@media screen and (max-width: 1000px) {
  #gameCover {
    height: 80%;
    width: 400px;
  }

  #text1 {
    width: 60%;
    place-self: end center;
  }

  #text2 {
    width: 60%;
  }
}

/* content changes when width is 600px or less */
@media screen and (max-width: 600px) {
  #gameCover {
    height: 500px;
    width: 80%;

    overflow: hidden;
    object-fit: cover;
  }
  #rectangle {
    width: 100%;
    border-radius: 0px;
  }
  #text1 {
    width: 80%;
    place-self: end center;
  }

  #text2 {
    width: 80%;
  }
}

/* 
No code is copied straight from internet,
but a lot of the code is made with help to understand
logics and find the right "commands" from lecture slides,
lecture videos and also from W3Schools.com */
