body,
html {
  margin: 0px;
  background-image: linear-gradient(#052a19, #506d56);
}

/* Grid Area when width more than 1900px*/
@media screen and (min-width: 1900px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(17, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar"
      ". sale1 sale1 . sale2 sale2 . sale3 sale3 ."
      ". sale1 sale1 . sale2 sale2 . sale3 sale3 ."
      ". sale1 sale1 . sale2 sale2 . sale3 sale3 ."
      ". top top . . . . . . ."
      ". game1 game1 game2 game2 game3 game3 game4 game4 ."
      ". game1 game1 game2 game2 game3 game3 game4 game4 ."
      ". game1 game1 game2 game2 game3 game3 game4 game4 ."
      ". . . . . . . . . ."
      ". game5 game5 game6 game6 game7 game7 game8 game8 ."
      ". game5 game5 game6 game6 game7 game7 game8 game8 ."
      ". game5 game5 game6 game6 game7 game7 game8 game8 ."
      ". . . . . . . . . ."
      ". game9 game9 game10 game10 . . . . ."
      ". game9 game9 game10 game10 . . . . ."
      ". game9 game9 game10 game10 . . . . ."
      ". . . . . . . . . .";
  }
}
/* Grid Area between 1100 - 1900 px */
@media screen and (max-width: 1900px) and (min-width: 1100px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(21, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar"
      ". sale1 sale1 . sale2 sale2 . sale3 sale3 ."
      ". sale1 sale1 . sale2 sale2 . sale3 sale3 ."
      ". sale1 sale1 . sale2 sale2 . sale3 sale3 ."
      ". top top . . . . . . ."
      ". game1 game1 . game2 game2 . game3 game3 ."
      ". game1 game1 . game2 game2 . game3 game3 ."
      ". game1 game1 . game2 game2 . game3 game3 ."
      ". . . . . . . . . ."
      ". game4 game4 . game5 game5 . game6 game6 ."
      ". game4 game4 . game5 game5 . game6 game6 ."
      ". game4 game4 . game5 game5 . game6 game6 ."
      ". . . . . . . . . ."
      ". game7 game7 . game8 game8 . game9 game9 ."
      ". game7 game7 . game8 game8 . game9 game9 ."
      ". game7 game7 . game8 game8 . game9 game9 ."
      ". . . . . . . . . ."
      ". game10 game10 . . . . . . ."
      ". game10 game10 . . . . . . ."
      ". game10 game10 . . . . . . ."
      ". . . . . . . . . .";
  }
}

/* Grid Area when width is 1100px or less */
@media screen and (max-width: 1100px) and (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(25, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar"
      ". . sale1 sale1 . . sale2 sale2 . ."
      ". . sale1 sale1 . . sale2 sale2 . ."
      ". . sale1 sale1 . . sale2 sale2 . ."
      ". . top top top . . . . ."
      ". game1 game1 game1 game1 game2 game2 game2 game2 ."
      ". game1 game1 game1 game1 game2 game2 game2 game2 ."
      ". game1 game1 game1 game1 game2 game2 game2 game2 ."
      ". . . . . . . . . ."
      ". game3 game3 game3 game3 game4 game4 game4 game4 ."
      ". game3 game3 game3 game3 game4 game4 game4 game4 ."
      ". game3 game3 game3 game3 game4 game4 game4 game4 ."
      ". . . . . . . . . ."
      ". game5 game5 game5 game5 game6 game6 game6 game6 ."
      ". game5 game5 game5 game5 game6 game6 game6 game6 ."
      ". game5 game5 game5 game5 game6 game6 game6 game6 ."
      ". . . . . . . . . ."
      ". game7 game7 game7 game7 game8 game8 game8 game8 ."
      ". game7 game7 game7 game7 game8 game8 game8 game8 ."
      ". game7 game7 game7 game7 game8 game8 game8 game8 ."
      ". . . . . . . . . ."
      ". game9 game9 game9 game9 game10 game10 game10 game10 ."
      ". game9 game9 game9 game9 game10 game10 game10 game10 ."
      ". game9 game9 game9 game9 game10 game10 game10 game10 ."
      ". . . . . . . . . .";
  }
}

@media screen and (max-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(25, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar"
      ". . . sale1 sale1 sale1 sale1 . . ."
      ". . . sale1 sale1 sale1 sale1 . . ."
      ". . . sale1 sale1 sale1 sale1 . . ."
      ". . top top top . . . . ."
      ". game1 game1 game1 game1 game1 game1 game1 game1 ."
      ". game1 game1 game1 game1 game1 game1 game1 game1 ."
      ". game1 game1 game1 game1 game1 game1 game1 game1 ."
      ". . . . . . . . . ."
      ". game2 game2 game2 game2 game2 game2 game2 game2 ."
      ". game2 game2 game2 game2 game2 game2 game2 game2 ."
      ". game2 game2 game2 game2 game2 game2 game2 game2 ."
      ". . . . . . . . . ."
      ". game3 game3 game3 game3 game3 game3 game3 game3 ."
      ". game3 game3 game3 game3 game3 game3 game3 game3 ."
      ". game3 game3 game3 game3 game3 game3 game3 game3 ."
      ". . . . . . . . . ."
      ". game4 game4 game4 game4 game4 game4 game4 game4 ."
      ". game4 game4 game4 game4 game4 game4 game4 game4 ."
      ". game4 game4 game4 game4 game4 game4 game4 game4 ."
      ". . . . . . . . . ."
      ". game5 game5 game5 game5 game5 game5 game5 game5 ."
      ". game5 game5 game5 game5 game5 game5 game5 game5 ."
      ". game5 game5 game5 game5 game5 game5 game5 game5 ."
      ". . . . . . . . . .";
  }
}

#menuicon {
  grid-area: topbar;
  align-self: center;
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  visibility: hidden;
}

#hamburger-menu {
  grid-area: topbar;
  align-self: center;
  width: 210px;
  height: 35px;
  display: none;
}

#menu-list {
  background-color: #506d56;
  margin-top: 81px;
  margin-left: -32px;
  height: 278px;
}

#home-menu {
  background-color: white;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#home-menu:hover {
  background-color: #394e3e;
}

#about-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#about-menu:hover {
  background-color: #394e3e;
}

#community-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 52.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#community-menu:hover {
  background-color: #394e3e;
}

#store-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 74px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#store-menu:hover {
  background-color: #394e3e;
}

#myGames-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 54px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#myGames-menu:hover {
  background-color: #394e3e;
}

#close-menu {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #506d56;
  padding: 7px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#close-menu:hover {
  background-color: #394e3e;
}

#logo {
  grid-area: topbar;
  height: 70%;
  align-self: center;
  margin-left: 1rem;
}

#logoText {
  grid-area: topbar;
  place-self: left center;
  margin-top: 3.5rem;
  margin-left: 7.5rem;
  font-weight: 500;
}

#topbar {
  background-color: #506d56;
  grid-area: topbar;
}

#linearColorSale {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 5;
  background-image: linear-gradient(#052a19, #506d56, #052a19);
  box-shadow: 1px 1px black;
}

#home {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#about {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#community {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}
#community2 {
  visibility: hidden;
}

#store {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  color: white;
}

#myGames {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 12pt;
  place-self: center;
  align-self: center;
  font-weight: bold;
  color: black;
}

#line1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}

#line2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}
#line3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}
#line4 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}

#line5 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}
#line6 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.555);
  width: 1px;
  height: 80%;
  place-self: center;
  align-self: center;
}

#profile {
  grid-column-start: 10;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 30%;
  place-self: center;
  display: none;
}

#logInButtonTop {
  grid-column-start: 10;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 30%;
  width: 80%;
  place-self: center;
}

#loginBox {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 7;
  background-color: white;
  display: none;
}

#username {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 4;
  height: 30%;
  width: 50%;
  place-self: start center;
  display: none;
}

#usernameHeader {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 18pt;
  font-weight: 600;
  place-self: end center;
  display: none;
}

#password {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 5;
  height: 30%;
  width: 50%;
  place-self: start center;
  display: none;
}
#passwordHeader {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 4;
  font-size: 18pt;
  font-weight: 600;
  place-self: end center;
  text-align: center;
  display: none;
}

#logInButton {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 6;
  height: 30%;
  width: 50%;
  place-self: start center;
  display: none;
}

#close {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 30%;
  place-self: start end;
  margin-top: 20px;
  margin-right: 20px;
  display: none;
}

#game3Sale {
  grid-area: sale1;
  height: 50%;
  width: 128px;
  max-width: 100%;
  place-self: center center;
}
#game3coverSale {
  height: 100%;
  width: 128px;
  max-width: 100%;
}

#game6Sale {
  grid-area: sale2;
  height: 50%;
  width: 128px;
  place-self: center center;
  max-width: 100%;
}
#game6coverSale {
  height: 100%;
  width: 128px;
  max-width: 100%;
}

#game8Sale {
  grid-area: sale3;
  height: 50%;
  width: 128px;
  place-self: center center;
  max-width: 100%;
}
#game8coverSale {
  height: 100%;
  width: 128px;
  max-width: 100%;
}

#gamesHeader {
  grid-area: top;
  margin-top: 34px;
  color: white;
}

#game1 {
  grid-area: game1;
  height: 100%;
  width: 256px;
  place-self: center center;
  max-width: 100%;
}
#game1cover {
  height: 100%;
  width: 256px;
  max-width: 100%;
}

#game2 {
  grid-area: game2;
  height: 100%;
  width: 256px;
  place-self: center center;
  max-width: 100%;
}
#game2cover {
  height: 100%;
  width: 256px;
  max-width: 100%;
}

#game3 {
  grid-area: game3;
  height: 100%;
  width: 256px;
  place-self: center center;
  max-width: 100%;
}
#game3cover {
  height: 100%;
  width: 256px;
  max-width: 100%;
}

#game4 {
  grid-area: game4;
  height: 100%;
  width: 256px;
  place-self: center center;
  max-width: 100%;
}
#game4cover {
  height: 100%;
  width: 256px;
  max-width: 100%;
}

#game5 {
  grid-area: game5;
  height: 100%;
  width: 256px;
  place-self: center center;
  max-width: 100%;
}
#game5cover {
  height: 100%;
  width: 256px;
  max-width: 100%;
}

#game6 {
  grid-area: game6;
  height: 100%;
  width: 256px;
  place-self: center center;
  max-width: 100%;
}
#game6cover {
  height: 100%;
  width: 256px;
  max-width: 100%;
}

#game7 {
  grid-area: game7;
  height: 100%;
  width: 256px;
  place-self: center center;
  max-width: 100%;
}
#game7cover {
  height: 100%;
  width: 256px;
  max-width: 100%;
}

#game8 {
  grid-area: game8;
  height: 100%;
  width: 256px;
  place-self: center center;
  max-width: 100%;
}
#game8cover {
  height: 100%;
  width: 256px;
  max-width: 100%;
}

#game9 {
  grid-area: game9;
  height: 100%;
  width: 256px;
  place-self: center center;
  max-width: 100%;
}
#game9cover {
  height: 100%;
  width: 256px;
  max-width: 100%;
}

#game10 {
  grid-area: game10;
  height: 100%;
  width: 256px;
  place-self: center center;
  max-width: 100%;
}
#game10cover {
  height: 100%;
  width: 256px;
  max-width: 100%;
}

#next {
  visibility: hidden;
}

/* Content changes when width is 1100px or less */
@media screen and (max-width: 1100px) {
  #game8Sale {
    display: none;
  }
  #home {
    visibility: hidden;
  }

  #about {
    visibility: hidden;
  }

  #community {
    visibility: hidden;
  }

  #store {
    visibility: hidden;
  }

  #myGames {
    visibility: hidden;
  }

  #line1 {
    visibility: hidden;
  }

  #line2 {
    visibility: hidden;
  }
  #line3 {
    visibility: hidden;
  }
  #line4 {
    visibility: hidden;
  }

  #line5 {
    visibility: hidden;
  }
  #line6 {
    visibility: hidden;
  }
  #logo {
    grid-area: topbar;
    height: 70%;
    align-self: center;
    margin-left: 5rem;
  }
  #logoText {
    margin-left: 11.5rem;
  }

  #menuicon {
    visibility: visible;
  }
}

/* Content changes when width is 800px or less */
@media screen and (max-width: 800px) {
  #game6Sale {
    display: none;
  }
  #game6 {
    display: none;
  }
  #game7 {
    display: none;
  }
  #game8 {
    display: none;
  }
  #game9 {
    display: none;
  }
  #game10 {
    display: none;
  }
}
